.navbar-expand-lg[b-q9fo7l4ayw] {
    background-color: #F3F1EE;
}

.navbar-toggler[b-q9fo7l4ayw] {
    background-color: #F3F1EE;
}

.navbar-nav[b-q9fo7l4ayw] {
    float: none;
    margin-left: 50%;
    text-align: center;
}

    .navbar-nav > li[b-q9fo7l4ayw] {
        float: none;
    }

.text-info[b-q9fo7l4ayw] {
    color: #007AA3 !important;
}

.text-commerce-dgreen[b-q9fo7l4ayw] {
    color: #006747 !important;
}

li[b-q9fo7l4ayw] {
    z-index: 9999;
}

.dropdown-menu[b-q9fo7l4ayw] {
    top: 45px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
}

    .dropdown-menu[b-q9fo7l4ayw]:before {
        content: "";
        position: absolute;
        top: -20px;
        right: 12px;
        border: 10px solid #FFFFFF;
        border-color: transparent transparent #4FA800 transparent;
    }

.head[b-q9fo7l4ayw] {
    padding: 5px 15px;
    border-radius: 3px 3px 0px 0px;
    background-color: #4FA800 !important;
}

.footer[b-q9fo7l4ayw] {
    border-radius: 0px 0px 3px 3px;
    background-color: #4FA800 !important;
}

.notification-box[b-q9fo7l4ayw] {
    padding: 5px 0px;
    background-color: #F3F1EE;
}

.top-row[b-q9fo7l4ayw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.btn[b-q9fo7l4ayw] {
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #006747;
}

    .btn-primary:focus[b-q9fo7l4ayw], .btn:active[b-q9fo7l4ayw] {
        box-shadow: none;
        outline: 0 !important;
    }

        .btn:active:focus[b-q9fo7l4ayw] {
            background-color: #006746 !important;
            border-color: #000000 !important;
            box-shadow: none;
            outline: 0 !important;
        }


    .btn:hover[b-q9fo7l4ayw] {
        background-color: #000000;
    }

    .btn:active[b-q9fo7l4ayw], .btn:focus[b-q9fo7l4ayw] {
        background-color: #000000;
        outline: none;
        box-shadow: none;
    }


.submit[b-q9fo7l4ayw] {
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #006747;
}

    .submit:focus[b-q9fo7l4ayw], .btn:active[b-q9fo7l4ayw] {
        box-shadow: none;
        outline: 0 !important;
        color: #FFFFFF;
    }

    .submit:hover[b-q9fo7l4ayw], .btn:active[b-q9fo7l4ayw] {
        box-shadow: none;
        outline: 0 !important;
        color: #FFFFFF;
    }




.badge[b-q9fo7l4ayw] {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 10px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.navbar-brand[b-q9fo7l4ayw] {
    font-size: 1.1rem;
}

.oi[b-q9fo7l4ayw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item-notif[b-q9fo7l4ayw] {
    font-family: Poppins;
    font-size: 1.2rem;
    padding-top: 0;
}



.nav-item[b-q9fo7l4ayw] {
    font-family: Poppins;
    font-size: 1.2rem;
    padding-top: 0;
}

    .nav-item a[b-q9fo7l4ayw]:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #4FA800;
        width: 0;
    }

    .nav-item a:hover[b-q9fo7l4ayw]:after {
        width: 100%;
        left: 0;
    }


    .nav-item.active a[b-q9fo7l4ayw] {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #4FA800;
        width: 0;
    }





@media (min-width: 641px) {
    .navbar-toggler[b-q9fo7l4ayw] {
        display: none;
    }

    .collapse[b-q9fo7l4ayw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
