.navbar-expand-lg[b-q9fo7l4ayw] {
    background-color: #F3F1EE;
}

.navbar-toggler[b-q9fo7l4ayw] {
    background-color: #F3F1EE;
}

.navbar-nav[b-q9fo7l4ayw] {
    float: none;
    margin-left: 50%;
    text-align: center;
}

    .navbar-nav > li[b-q9fo7l4ayw] {
        float: none;
    }


.top-row[b-q9fo7l4ayw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.btn[b-q9fo7l4ayw] {
    font-family: sans-serif;
    background-color: #006747;
}

    .btn-primary:focus[b-q9fo7l4ayw], .btn:active[b-q9fo7l4ayw] {
        box-shadow: none;
        outline: 0 !important;
    }

        .btn:active:focus[b-q9fo7l4ayw] {
            background-color: #006746 !important;
            border-color: #000000 !important;
            box-shadow: none;
            outline: 0 !important;
        }


    .btn:hover[b-q9fo7l4ayw] {
        background-color: #000000
    }

    .btn:active[b-q9fo7l4ayw], .btn:focus[b-q9fo7l4ayw] {
        background-color: #000000
    }



.badge[b-q9fo7l4ayw] {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 10px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.navbar-brand[b-q9fo7l4ayw] {
    font-size: 1.1rem;
}

.oi[b-q9fo7l4ayw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}


.nav-item[b-q9fo7l4ayw] {
    font-family: Poppins;
    font-size: 1.2rem;
    padding-top: 0;
}

    .nav-item[b-q9fo7l4ayw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }


    .nav-item a[b-q9fo7l4ayw]:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #4FA800;
        width: 0;
    }

    .nav-item a:hover[b-q9fo7l4ayw]:after {
        width: 100%;
        left: 0;
    }



@media (min-width: 641px) {
    .navbar-toggler[b-q9fo7l4ayw] {
        display: none;
    }

    .collapse[b-q9fo7l4ayw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
