
CommerceProject/.vs/CommerceProject/config/applicationhost.config
CommerceProject/CommerceProject/bin/Debug/net5.0/CommerceProject.runtimeconfig.dev.json
CommerceProject/CommerceProject/bin/Debug/net5.0/CommerceProject.runtimeconfig.dev.json
