@model commerce_project.Models.commerce_mockup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>commerce_mockup</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
