<style >

body[b-9ejtt86256] {
    background-image: url("/css/images/bgh.png"), url("/css/images/uprightcv.png");
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    min-height: 500px;
    background-attachment: fixed;
}

h2[b-9ejtt86256] {
    font-family: 'Poppins', sans-serif;
}

.table[b-9ejtt86256] {
    font-family: 'Open Sans', sans-serif;
}

.collapse-row.collapsed + tr[b-9ejtt86256] {
    display: none;
}

table[b-9ejtt86256] {
    max-width: 100%;
}

.hiddenRow[b-9ejtt86256] {
    padding: 0 !important;
}

.tableRowHover tbody tr:not(.tableRowHoverOff):hover td[b-9ejtt86256] {
    background-color: #dcdcdc;
    transition: all 0.01s ease-in-out;
}

tr.noBorder td[b-9ejtt86256] {
    border: 0;
}

.sticky-top[b-9ejtt86256] {
    top: 1em;
}

.vertical-center[b-9ejtt86256] {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.table-title[b-9ejtt86256] {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

    .table-title h2[b-9ejtt86256] {
        margin: 6px 0 0;
        font-size: 22px;
    }

    .table-title .add-new[b-9ejtt86256] {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        line-height: 13px;
    }

        .table-title .add-new i[b-9ejtt86256] {
            margin-right: 4px;
        }


.btn-info[b-9ejtt86256] {
    background-color: #006746;
    border-color: #006746;
}

    .btn-info:focus[b-9ejtt86256], .btn-info:active[b-9ejtt86256] {
        box-shadow: none;
        outline: 0 !important;
    }

        .btn-info:active:focus[b-9ejtt86256] {
            background-color: #006746 !important;
            border-color: #000000 !important;
            outline: 0 !important;
        }

    .btn-info:hover[b-9ejtt86256], .btn-info:active[b-9ejtt86256], .btn-info:focus[b-9ejtt86256] {
        background-color: #000000;
        border-color: #000000;
        outline: 0 !important;
    }

.bg-light[b-9ejtt86256] {
    background-color: #F3F1EE !important;
}

.alnright[b-9ejtt86256] {
    text-align: right;
}

}

.text-danger[b-9ejtt86256] {
    color:#E30000 !important;
}

.text-success[b-9ejtt86256]{
    color:#4FA800 !important;
}


