@page "/addTrans"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Microsoft.AspNetCore.Http

@inject IPeopleData _db
@inject IHttpContextAccessor httpContextAccessor
@inject ITransactionData _trans


<h4>Current User: @UserName</h4>

@if (trans is null)     @* if (people is null)*@
    {
        <p><em>Loading...</em></p>
    }
else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Transaction Number</th>
                    <th>Account Number</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in trans)
                {
                    <tr>
                        <td>@row.Trans_Num</td>
                        <td>@row.Account_Num</td>
                        <td>@row.Balance</td>
                    </tr>
                }
            </tbody>
        </table>
    }


@code {
    private List<PersonModel> people;
    private List<TransactionModel> trans;

    public string UserName;

    protected override async Task OnInitializedAsync()
    {
        UserName = httpContextAccessor.HttpContext.User.Identity.Name;

        people = await _db.GetPeople();

        trans = await _trans.GetTransactions();

    }


}
