@page "/counter"
@using CommerceProject.Data
<h1>Counter</h1>

<p>Current count: @transaction_list[0]</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    public List<Transaction> transaction_list;
    public GetTransactionData get_list = new GetTransactionData();

    private void IncrementCount()
    {
        transaction_list = get_list.GetTransactions().ToList<Transaction>();
    }
}
