@page "/home"
@using CommerceProject.Data
@inject GetTransactionData GetTransactions
<style>
    body {
        background-image: url("/css/images/bgh.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        min-height: 500px;
        background-attachment: fixed;
    }


    .container-fluid {
        min-width: 1016px;
    }

    .container {
        min-width: 400px;
    }

    .list-group-item {
        border: 0 !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
</style>


<div class="parent-container d-flex">
    <div class="row">
        <div class="col">
            <div class="card mt-5">
                <div class="bg-light clearfix">
                    <div class="float-left ml-2">
                        <h2>
                            Transactions
                        </h2>
                    </div>
                    <button type="button" class="btn bg-transparent float-right mr-2 mt-1">Settings <i class="fas fa-cog"></i> </button>
                    <button type="button" class="btn bg-transparent float-right mr-3 mt-1">Add Transaction <i class="fas fa-plus-circle"></i> </button>
                </div>
                <div class="clearfix"></div>
                <div class="container-fluid bg-light mb-3 mr-5" id="containerT">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Temp. (C)</th>
                                <th>Temp. (F)</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in transaction_list)
                            {
                                <tr>
                                    <td>@transaction.getDate()</td>
                                    <td>@transaction.getLocation()</td>
                                    <td>@transaction.get_Amount()</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card ml-2 mt-5">
                <div class="container bg-light">
                    <h3> Notifications </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Alaska</li>
                    <li class="list-group-item">Spa</li>
                    <li class="list-group-item">2am</li>
                    <li class="list-group-item">ASDSADASAAASDADAD</li>


                </ul>
            </div>
        </div>
    </div>

</div>
@code{
    private List<Transaction> transaction_list;

    GetTransactionData get_list = new GetTransactionData();
    protected override async Task OnInitializedAsync()
    {
        transaction_list = get_list.GetTransactions().ToList<Transaction>();
    }
}