.bg-light {
    background-color: #F3F1EE !important;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.btn {
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #006747;
}