@page "/settings"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@inject IAccountHolderData _acc
@inject NavigationManager UriHelper


    <style>
        body {
            background-image: url("/css/images/bgh.png"), url("/css/images/uprightcv.png");
            background-repeat: no-repeat;
            background-position: left bottom, right top;
            min-height: 500px;
            background-attachment: fixed;
        }
    </style>

<div class="row gutters-sm mt-3">
    <div class="col-md-2 d-none d-md-block">
        <div class="card">
            <div class="card-body">
                <nav class="nav flex-column nav-pills nav-gap-y-1 green">
                    <a href="#profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Profile Information
                    </a>
                    <a href="#security" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield mr-2"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>Security
                    </a>
                    <a href="#notification" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell mr-2"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>Notifications
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header border-bottom mb-3 d-flex d-md-none">
                <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                    <li class="nav-item">
                        <a href="#profile" data-toggle="tab" class="nav-link has-icon active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></a>
                    </li>
                    <li class="nav-item">
                        <a href="#security" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg></a>
                    </li>
                    <li class="nav-item">
                        <a href="#notification" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg></a>
                    </li>
                </ul>
            </div>

            <div class="card-body tab-content">
                <div class="tab-pane active" id="profile">
                    <h6>PROFILE INFORMATION</h6>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter your first name" @bind-value=nametochange.firstName>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" placeholder="Enter your last name" @bind-value=nametochange.lastName>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNumber" aria-describedby="lastNameHelp" placeholder="Enter your Phone Number" @bind-value=nametochange.phoneNumber>
                        </div>
                        <div class="form-group">
                            <label for="City">City</label>
                            <input type="text" class="form-control" id="City" placeholder="Enter your City" @bind-value=nametochange.city>
                        </div>
                        <div class="form-group">
                            <label for="State">State</label>
                            <input type="text" class="form-control" id="State" placeholder="Enter your State" @bind-value=nametochange.state>
                        </div>
                        <hr>
                        <button type="button" class="btn btn-primary" @onclick="UpdateInfo">Submit</button>
                    </form>
                </div>

                <div class="tab-pane" id="security">
                    <h6>SECURITY SETTINGS</h6>
                    <hr>
                    <form>
                        <button type="button" class="btn btn-primary" @onclick="toChangePassword">Change password</button>
                    </form>
                    <hr />
                </div>

                <div class="tab-pane" id="notification">
                    <h6>NOTIFICATION SETTINGS</h6>
                    <hr>
                    <div class="card-body">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck2" checked="">
                            <label class="custom-control-label" for="customCheck2">
                                <h2>Account Balance</h2>
                            </label>
                            <div> Notify me when a my account balance is below:</div>
                            <div>[]</div>
                        </div>

                        <div class="custom-control custom-checkbox mt-5">
                            <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck1" checked="">
                            <label class="custom-control-label" for="customCheck1">
                                <h2>Time notification</h2>
                            </label>
                            <div> Notify me when a transaction is made between:</div>
                            <div>[] and []</div>
                        </div>

                        <div class="custom-control custom-checkbox mt-5">
                            <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck3" checked="">
                            <label class="custom-control-label" for="customCheck3">
                                <h2>Transaction amount</h2>
                                <div> Notify me when a transaction exceeds:</div>
                                <div>[]</div>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-5">
                            <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck4" checked="">
                            <label class="custom-control-label" for="customCheck4">Email me each time a notification is triggered</label>
                        </div>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-primary">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>

@code{


    AccountHolderModel nametochange = new AccountHolderModel();
    private string email;
    protected Task UpdateInfo()
    {

        nametochange.email = httpContextAccessor.HttpContext.User.Identity.Name;
        return _acc.ChangeName(nametochange);
    }

    void toChangePassword()
    {
        UriHelper.NavigateTo("Identity/Account/ChangePassword", true);
    }


}