@page
@model LoginModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

@if (SignInManager.IsSignedIn(User))
{
    Response.Redirect("/home");
}
else
{
    <div class="col-12 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-md-8">
                <center>
                    <img src="/css/images/commerce-bank-vector-logo-large.png" width="90%" />
                </center>
            </div>
            <div class="col-md-4">
                <section>
                    <form id="account" method="post">
                        <h1>@ViewData["Title"]</h1>
                        <h4 style="font-weight:bold; color:darkgreen">Welcome!</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div class="form-group">
                            <!--<p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p> -->
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <!--<p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p> -->
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="col-4 row">
            <p>&nbsp;</p>
        </div>
    </div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
