@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmed";
}

<style>
    h1, h5 {
        font-family: 'Poppins', sans-serif;
    }

    body {
        font-family: 'Open Sans', sans-serif;
    }
</style>

<div class="col-12 card">
    <div class="col-12 row">
        <p>&nbsp;</p>
    </div>
    <div class="col-12 row">
        <div class="col-md-8">
            <center>
                <img src="/css/images/commerce-bank-vector-logo-large.png" width="90%" />
            </center>
        </div>
        <div class="col-md-4">
            <h1>@ViewData["Title"]</h1>
            <h5 style="font-weight:bold; color:darkgreen">Thanks for registering!</h5>
            <br />
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p>
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Return to login</a>
                    </p>
                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }
            }
        </div>
        <div class="col-4 row">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
