@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    h1, h4 {
        font-family: 'Poppins', sans-serif;
    }

    body {
        font-family: 'Open Sans', sans-serif;
    }

    body {
        background-color: #F7F9FA;
    }

    .logo {
        width: 300px;
    }

    .header-form {
        background-color: #006747;
        height: 50%;
    }

    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .container-fluid {
        max-height: 744.15px;
        max-width: 709.8px;
    }

    .login-custom {
        height: 50px;
        font-family: "Open Sans",sans-serif;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        background-color: #007AA3
    }

        .login-custom:focus, .btn:active {
            box-shadow: none;
            outline: 0 !important;
        }

        .login-custom:active:focus {
            background-color: #97C8D9 !important;
            border-color: #000000 !important;
            box-shadow: none;
            outline: 0 !important;
        }


        .login-custom:hover {
            background-color: #01506b;
        }

        .login-custom:active, .btn:focus {
            background-color: #97C8D9;
        }
</style>

<div class="container-fluid bg-white no-padding mt-5">
    <div style="height: 19px;">
        <p class="header-form">&nbsp;</p>
    </div>
    <div class="row justify-content-md-center ">
        <div class="col-md-11 mt-4 ">
            <div><img class="logo" src="/css/images/test1.png"></div>
            <section class="mt-4">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h1>@ViewData["Title"]</h1>
                    <h4 style="font-weight:bold; color:darkgreen">Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email">Email:</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Password:</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">Confirm Password:</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block login-custom"><h4>Register</h4></button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"><b>Already have an account? Login</b></a>
                        </p>
                    </div>
                </form>
                </section>
        </div>
        <div class="col-4 row">
            <p>&nbsp;</p>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
