@inherits LayoutComponentBase
@using CommerceProject.Pages

<AuthorizeView>
    <Authorized>
        <header>
            <NavMenu />
        </header>

        <div class="main">
            <div class="content">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin Url="Identity/Account/Login" />
    </NotAuthorized>
</AuthorizeView>