@inherits LayoutComponentBase   

<header>
    <NavMenu />
</header>

<div class="main">
    <div class="content">
        @Body
    </div>
    <footer>
        This is the footer
    </footer>
</div>
