@inherits LayoutComponentBase
@using CommerceProject.Pages

<AuthorizeView>
    <Authorized>
        <header>
            <NavMenu />
        </header>

        <div class="container">
            <main role="main" class="pl-3">
                @Body
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin Url="Identity/Account/Login" />
    </NotAuthorized>
</AuthorizeView>