@inherits LayoutComponentBase
@using CommerceProject.Pages
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                ErrorIcon="fa fa-bug" />
<AuthorizeView>
    <Authorized>

        <header>
            <NavMenu />
        </header>

        <div class="main">
            <div class="content">
                @Body
            </div>
            <footer>
                This is the footer
            </footer>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin Url="Identity/Account/Login" />
    </NotAuthorized>
</AuthorizeView>