@using Blazorise
 
<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <Figure Size="FigureSize.None">
            <FigureImage Source="/css/images/commerce-bank-vector-logo-horizontal.jpg" AlternateText="Commerce Logo" Width="30%"/>
        </Figure>
        <BarMenu>
            <BarStart>
                <BarItem>
                    <Button Color="Color.Primary">Log out</Button>
                    <Button Color="Color.Secondary">Settings</Button>
                    <Button Color="Color.Secondary">ETC</Button>

                </BarItem>
            </BarStart>
        </BarMenu>
    </BarBrand>

</Bar>