.navbar-expand-lg {
    background-color: #F3F1EE;
}

.navbar-toggler {
    background-color: #F3F1EE;
}

.navbar-nav {
    float: none;
    margin-left: 50%;
    text-align: center;
}

    .navbar-nav > li {
        float: none;
    }


.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.btn {
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #006747;
}

    .btn-primary:focus, .btn:active {
        box-shadow: none;
        outline: 0 !important;
    }

        .btn:active:focus {
            background-color: #006746 !important;
            border-color: #000000 !important;
            box-shadow: none;
            outline: 0 !important;
        }


    .btn:hover {
        background-color: #000000
    }

    .btn:active, .btn:focus {
        background-color: #000000
    }



.badge {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 10px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}


.nav-item {
    font-family: Poppins;
    font-size: 1.2rem;
    padding-top: 0;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }


    .nav-item a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #4FA800;
        width: 0;
    }

    .nav-item a:hover:after {
        width: 100%;
        left: 0;
    }



@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
