@page "/Login"
@inject HttpClient httpClient
<div class="col-md-6">
    <Figure Size="FigureSize.Is256x256">
        <FigureImage Source="https://i.imgur.com/Z5fnNvD.png" />
    </Figure>
    <Field ColumnSize="ColumnSize.Is5.OnDesktop">
        <FieldLabel>Customer ID</FieldLabel>
        <TextEdit Role="TextRole.Email" />

    </Field>

    <Field ColumnSize="ColumnSize.Is5.OnDesktop">
        <FieldLabel>Password</FieldLabel>
        <TextEdit Role="TextRole.Password" />

    </Field>
</div>