/* _content/CommerceProject/Pages/Homepage.razor.rz.scp.css */
.bg-light[b-vbz074av8t] {
    background-color: #F3F1EE !important;
}

.float-child[b-vbz074av8t] {
    width: 50%;
    float: left;
    padding: 20px;
} 
/* _content/CommerceProject/Pages/Settings.razor.rz.scp.css */
body[b-0ixdshmtmn] {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
    font-family: 'Open Sans', sans-serif;
}


.nav-pills .nav-link.active[b-0ixdshmtmn], .nav-pills .show > .nav-link[b-0ixdshmtmn] {
    background-color: #006746;
}

.btn-primary[b-0ixdshmtmn] {
    background-color: #006746;
    border-color: #006746;

}
    .btn-primary:focus[b-0ixdshmtmn], .btn-primary:active[b-0ixdshmtmn] {
        box-shadow: none;
        outline: 0 !important;
    }

    .btn-primary:active:focus[b-0ixdshmtmn] {
        background-color: #006746 !important;
        border-color: #000000 !important;
        outline: 0 !important;
    }

    .btn-primary:hover[b-0ixdshmtmn], .btn-primary:active[b-0ixdshmtmn], .btn-primary:focus[b-0ixdshmtmn] {
        background-color: #000000;
        border-color: #000000;
        outline: 0 !important;
    }



.custom-control-input:checked ~ .custom-control-label[b-0ixdshmtmn]::before {
    border-color: #4FA800 !important;
    background-color: #4FA800 !important;
}

.main-body[b-0ixdshmtmn] {
    padding: 15px;
}

.nav-link[b-0ixdshmtmn] {
    color: #4a5568;
}

.container[b-0ixdshmtmn], .container-lg[b-0ixdshmtmn], .container-md[b-0ixdshmtmn], .container-sm[b-0ixdshmtmn], .container-xl[b-0ixdshmtmn] {
    max-width: 97%;
}


.card[b-0ixdshmtmn] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F9F8F6;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body[b-0ixdshmtmn] {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm[b-0ixdshmtmn] {
    margin-right: -8px;
    margin-left: -8px;
}

    .gutters-sm > .col[b-0ixdshmtmn], .gutters-sm > [class*=col-][b-0ixdshmtmn] {
        padding-right: 8px;
        padding-left: 8px;
    }

.mb-3[b-0ixdshmtmn], .my-3[b-0ixdshmtmn] {
    margin-bottom: 1rem !important;
}

.bg-gray-300[b-0ixdshmtmn] {
    background-color: #e2e8f0;
}

.h-100[b-0ixdshmtmn] {
    height: 100% !important;
}

.shadow-none[b-0ixdshmtmn] {
    box-shadow: none !important;
}

.green .active a[b-0ixdshmtmn] {
    background-color: #006746;
}

.table-wrapper[b-0ixdshmtmn] {
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title[b-0ixdshmtmn] {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

    .table-title h2[b-0ixdshmtmn] {
        margin: 6px 0 0;
        font-size: 22px;
    }

    .table-title .add-new[b-0ixdshmtmn] {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        line-height: 13px;
    }

        .table-title .add-new i[b-0ixdshmtmn] {
            margin-right: 4px;
        }

table.table[b-0ixdshmtmn] {
    table-layout: fixed;
}

    table.table tr th[b-0ixdshmtmn], table.table tr td[b-0ixdshmtmn] {
        border-color: #e9e9e9;
    }

    table.table th i[b-0ixdshmtmn] {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table th:first-child[b-0ixdshmtmn] {
        width: 15%;
    }

    table.table th:last-child[b-0ixdshmtmn] {
        width: 13%;
    }

    table.table td a[b-0ixdshmtmn] {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }


        table.table td a.edit[b-0ixdshmtmn] {
            color: #FFB300;
        }

        table.table td a.delete[b-0ixdshmtmn] {
            color: #E30000;
        }

    table.table td i[b-0ixdshmtmn] {
        font-size: 19px;
    }

    table.table td a.add i[b-0ixdshmtmn] {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    table.table .form-control[b-0ixdshmtmn] {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }

        table.table .form-control.error[b-0ixdshmtmn] {
            border-color: #f50000;
        }

    table.table td .add[b-0ixdshmtmn] {
        display: none;
    }

.btn-info[b-0ixdshmtmn] {
    background-color: #006746;
    border-color: #006746;
}

    .btn-info:focus[b-0ixdshmtmn], .btn-info:active[b-0ixdshmtmn] {
        box-shadow: none;
        outline: 0 !important;
    }

        .btn-info:active:focus[b-0ixdshmtmn] {
            background-color: #006746 !important;
            border-color: #000000 !important;
            outline: 0 !important;
        }

    .btn-info:hover[b-0ixdshmtmn], .btn-info:active[b-0ixdshmtmn], .btn-info:focus[b-0ixdshmtmn] {
        background-color: #000000;
        border-color: #000000;
        outline: 0 !important;
    }
}

hr.red[b-0ixdshmtmn] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

input[b-0ixdshmtmn] {
    max-width: 100%;
}
/* _content/CommerceProject/Pages/TransactionsPage.razor.rz.scp.css */
<style >

body[b-9ejtt86256] {
    background-image: url("/css/images/bgh.png"), url("/css/images/uprightcv.png");
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    min-height: 500px;
    background-attachment: fixed;
}

h2[b-9ejtt86256] {
    font-family: 'Poppins', sans-serif;
}

.table[b-9ejtt86256] {
    font-family: 'Open Sans', sans-serif;
}

.collapse-row.collapsed + tr[b-9ejtt86256] {
    display: none;
}

table[b-9ejtt86256] {
    max-width: 100%;
}

.hiddenRow[b-9ejtt86256] {
    padding: 0 !important;
}

.tableRowHover tbody tr:not(.tableRowHoverOff):hover td[b-9ejtt86256] {
    background-color: #dcdcdc;
    transition: all 0.01s ease-in-out;
}

tr.noBorder td[b-9ejtt86256] {
    border: 0;
}

.sticky-top[b-9ejtt86256] {
    top: 1em;
}

.vertical-center[b-9ejtt86256] {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.table-title[b-9ejtt86256] {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

    .table-title h2[b-9ejtt86256] {
        margin: 6px 0 0;
        font-size: 22px;
    }

    .table-title .add-new[b-9ejtt86256] {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        line-height: 13px;
    }

        .table-title .add-new i[b-9ejtt86256] {
            margin-right: 4px;
        }


.btn-info[b-9ejtt86256] {
    background-color: #006746;
    border-color: #006746;
}

    .btn-info:focus[b-9ejtt86256], .btn-info:active[b-9ejtt86256] {
        box-shadow: none;
        outline: 0 !important;
    }

        .btn-info:active:focus[b-9ejtt86256] {
            background-color: #006746 !important;
            border-color: #000000 !important;
            outline: 0 !important;
        }

    .btn-info:hover[b-9ejtt86256], .btn-info:active[b-9ejtt86256], .btn-info:focus[b-9ejtt86256] {
        background-color: #000000;
        border-color: #000000;
        outline: 0 !important;
    }

.bg-light[b-9ejtt86256] {
    background-color: #F3F1EE !important;
}

.alnright[b-9ejtt86256] {
    text-align: right;
}

}


/* _content/CommerceProject/Shared/MainLayout.razor.rz.scp.css */
.page[b-q07gp702ym] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-q07gp702ym] {
    flex: 1;
}

.sidebar[b-q07gp702ym] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


.top-row[b-q07gp702ym] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-q07gp702ym]  a, .top-row .btn-link[b-q07gp702ym] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-q07gp702ym] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-q07gp702ym] {
        display: none;
    }

    .top-row.auth[b-q07gp702ym] {
        justify-content: space-between;
    }

    .top-row a[b-q07gp702ym], .top-row .btn-link[b-q07gp702ym] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-q07gp702ym] {
        flex-direction: row;
    }

    .sidebar[b-q07gp702ym] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-q07gp702ym] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-q07gp702ym] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/CommerceProject/Shared/NavMenu.razor.rz.scp.css */
.navbar-expand-lg[b-q9fo7l4ayw] {
    background-color: #F3F1EE;
}

.navbar-toggler[b-q9fo7l4ayw] {
    background-color: #F3F1EE;
}

.navbar-nav[b-q9fo7l4ayw] {
    float: none;
    margin-left: 50%;
    text-align: center;
}

    .navbar-nav > li[b-q9fo7l4ayw] {
        float: none;
    }

.text-info[b-q9fo7l4ayw] {
    color: #007AA3 !important;
}

.text-commerce-dgreen[b-q9fo7l4ayw] {
    color: #006747 !important;
}

li[b-q9fo7l4ayw] {
    z-index: 9999;
}

.dropdown-menu[b-q9fo7l4ayw] {
    top: 45px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
}

    .dropdown-menu[b-q9fo7l4ayw]:before {
        content: "";
        position: absolute;
        top: -20px;
        right: 12px;
        border: 10px solid #FFFFFF;
        border-color: transparent transparent #4FA800 transparent;
    }

.head[b-q9fo7l4ayw] {
    padding: 5px 15px;
    border-radius: 3px 3px 0px 0px;
    background-color: #4FA800 !important;
}

.footer[b-q9fo7l4ayw] {
    border-radius: 0px 0px 3px 3px;
    background-color: #4FA800 !important;
}

.notification-box[b-q9fo7l4ayw] {
    padding: 5px 0px;
    background-color: #F3F1EE;
}

.top-row[b-q9fo7l4ayw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.btn[b-q9fo7l4ayw] {
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #006747;
}

    .btn-primary:focus[b-q9fo7l4ayw], .btn:active[b-q9fo7l4ayw] {
        box-shadow: none;
        outline: 0 !important;
    }

        .btn:active:focus[b-q9fo7l4ayw] {
            background-color: #006746 !important;
            border-color: #000000 !important;
            box-shadow: none;
            outline: 0 !important;
        }


    .btn:hover[b-q9fo7l4ayw] {
        background-color: #000000;
    }

    .btn:active[b-q9fo7l4ayw], .btn:focus[b-q9fo7l4ayw] {
        background-color: #000000;
        outline: none;
        box-shadow: none;
    }


.submit[b-q9fo7l4ayw] {
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #006747;
}

    .submit:focus[b-q9fo7l4ayw], .btn:active[b-q9fo7l4ayw] {
        box-shadow: none;
        outline: 0 !important;
        color: #FFFFFF;
    }

    .submit:hover[b-q9fo7l4ayw], .btn:active[b-q9fo7l4ayw] {
        box-shadow: none;
        outline: 0 !important;
        color: #FFFFFF;
    }




.badge[b-q9fo7l4ayw] {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 10px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.navbar-brand[b-q9fo7l4ayw] {
    font-size: 1.1rem;
}

.oi[b-q9fo7l4ayw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item-notif[b-q9fo7l4ayw] {
    font-family: Poppins;
    font-size: 1.2rem;
    padding-top: 0;
}



.nav-item[b-q9fo7l4ayw] {
    font-family: Poppins;
    font-size: 1.2rem;
    padding-top: 0;
}

    .nav-item a[b-q9fo7l4ayw]:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #4FA800;
        width: 0;
    }

    .nav-item a:hover[b-q9fo7l4ayw]:after {
        width: 100%;
        left: 0;
    }


    .nav-item.active a[b-q9fo7l4ayw] {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #4FA800;
        width: 0;
    }





@media (min-width: 641px) {
    .navbar-toggler[b-q9fo7l4ayw] {
        display: none;
    }

    .collapse[b-q9fo7l4ayw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
