/* _content/CommerceProject/Shared/MainLayout.razor.rz.scp.css */
.page[b-q07gp702ym] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-q07gp702ym] {
    flex: 1;
}

.sidebar[b-q07gp702ym] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


.top-row[b-q07gp702ym] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-q07gp702ym]  a, .top-row .btn-link[b-q07gp702ym] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-q07gp702ym] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-q07gp702ym] {
        display: none;
    }

    .top-row.auth[b-q07gp702ym] {
        justify-content: space-between;
    }

    .top-row a[b-q07gp702ym], .top-row .btn-link[b-q07gp702ym] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-q07gp702ym] {
        flex-direction: row;
    }

    .sidebar[b-q07gp702ym] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-q07gp702ym] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-q07gp702ym] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/CommerceProject/Shared/NavMenu.razor.rz.scp.css */
.navbar-expand-lg[b-q9fo7l4ayw] {
    background-color: #F3F1EE;
}
.navbar-toggler[b-q9fo7l4ayw] {
    background-color: #F3F1EE;
}

.navbar-nav[b-q9fo7l4ayw] {
    float: none;
    margin-left: 50%;
    text-align: center;
}

    .navbar-nav > li[b-q9fo7l4ayw] {
        float: none;
    }


.top-row[b-q9fo7l4ayw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.btn[b-q9fo7l4ayw] {
    font-family: sans-serif;
    background-color:#006747
}

    .btn:hover[b-q9fo7l4ayw] {
        background-color: #4FA800
    }


.navbar-brand[b-q9fo7l4ayw] {
    font-size: 1.1rem;
}

.oi[b-q9fo7l4ayw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.abs-center-x[b-q9fo7l4ayw] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item[b-q9fo7l4ayw] {
    font-family: Poppins;
    color: #6E6F78;
    font-size: 1.2rem;
    padding-top: 0;
}

    .nav-item[b-q9fo7l4ayw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }


    .nav-item a[b-q9fo7l4ayw]:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #4FA800;
        width: 0;
    }

    .nav-item a:hover[b-q9fo7l4ayw]:after {
        width: 100%;
        left: 0;
    }

@media (min-width: 641px) {
    .navbar-toggler[b-q9fo7l4ayw] {
        display: none;
    }

    .collapse[b-q9fo7l4ayw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
